<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet"href="{% static './css/style.css' %}"type="text/css"/>
    <link rel="icon" type="{% static 'image/png' %}" sizes="32x32" href="{% static './images/logo.svg' %}"
/>
</head>
<body>
    <section id="home">
        <section class="wrapper">
            <header>
                <h1>
                    <a href="{% url 'web:index' %}">
                        <img
                            src="{% static './images/logo.svg' %}"
                            alt="Logo"
                        />
                    </a>
                </h1>
                <div>
                    <a href="{% url 'web:create'  %}" class="login">Add</a>
                    <a href="#" class="login">Favourites</a>
                    <a href="#" class="login">Login</a>
                <div>
            </header> 

            {% block content %}
            {% endblock %}

        </section>
    </section>
</body>
</html>