{% extends "base.html" %}{% block content %}{% load static %}
            <section id="content">
                <section id="sorting">
                    <div class="filter-section" id="hamburger-menu">
                        <form action="">
                            <input type="text" name="q" placeholder="Search anything..." />
                            <p class="filter-head">Sort by</p>
                            <div class="filter">
                                <label class="radio">
                                    <input
                                        type="radio"
                                        name="sort"
                                        value="date-asc"
                                    />
                                    <span class="radio"></span>
                                    <span class="label"
                                        >Oldest</span
                                    >
                                </label>
                                <label class="radio">
                                    <input
                                        type="radio"
                                        name="sort"
                                        value="date-desc"
                                    />
                                    <span class="radio"></span>
                                    <span class="label"
                                        >Latest</span
                                    >
                                </label>
                            </div>
                            <p class="filter-head">Clothes</p>
                            <div class="filter">
                                {% for tag in tags %}
                                <label class="checkbox">
                                    <input type="checkbox" value="{{tag.id}}" name="clothes" />
                                    <span class="label">{{tag.title}}</span>
                                </label>
                                {% endfor %}
                                
                            </div>
                            <p class="filter-head">Categories</p>
                            <div class="filter">
                                {% for category in categories_set %}
                                    <label class="checkbox">
                                        <input type="checkbox" name="category" value="{{ category.id }}"
                                            {% if category.id in search_category %}checked{% endif %}>
                                        <span class="label">{{ category }}</span>
                                    </label>
                                {% endfor %}
                            </div>
                            <input type="submit" value="Filter" />
                        </form>
                    </div>
                </section>
                <section id="products">
                    <ul>
                        {% for product in products %}
                            <li>
                                <a href="{% url 'web:detailed' uuid=product.id %}">
                                    {% if product.images_set.all %}
                                        <div class="blog-image">
                                            <img
                                                src="{{ product.images_set.first.images.url }}"
                                                alt="Blog"
                                            />
                                        </div>
                                    {% endif %}
                                    <div class="details">
                                        <div class="date">
                                            <h4 class="name">{{product.category}}</h4>
                                            <div class="round"></div>
                                            <span>{{product.published_date}}</span>
                                        </div>
                                        <h3 class="head">
                                            {{product.title}}
                                        </h3>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul> 
                    
                </section>
            </section>
{% endblock %}         
